@{
    Style.Require("PoolLeague");
}

<div class="league-header-row">
    <span class="rank">
        Rank
    </span>
    <span class="display-name">
        Name
    </span>
    <span>
        Won
    </span>
    <span>
        Lost
    </span>
    <span>
        Win Streak
    </span>
    <span>
        Points
    </span>
</div>