@{
    Style.Require("PoolLeague");
}

<div class="league-header-row">
    <span class="rank">
        Rank
    </span>
    <span class="display-name">
        Name
    </span>
    <span>
        Streak
    </span>
    <span>
        Win %
    </span>
    <span>
        Points
    </span>
    <span>        
    </span>
</div>